* {
    font-family: Cabin;
}

#h0 {
    font-family: Cabin;
    font-size: 30px;
}

#h1 {
    font-family: Cabin;
    font-size: 28px;
}

#h2 {
    font-family: Cabin;
    font-size: 22px;
}

#h3 {
    font-family: Cabin;
    font-size: 18px;
}

#h4 {
    font-family: Cabin;
    font-size: 14px;
}